<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

        <style>
            img {
                width: 200px;
                height: 300px;
            }
        </style>

    </head>
    <body>
        <h3>{{ heading }}</h3>

        {% block body %}
        {% endblock %} 

        <p>{{ footer }}</p>
    </body>
</html>